body{
    background: linear-gradient(to bottom,#2DAFC2 0%, #2D446F 100%);
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    
}    
.bubble{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
    position:relative;
    animation: animate 4s linear forwards;

}
@keyframes animate{
    0% 
    {
        left:90% ;
        top: 0px;
    }
    
    100% 
    {
    left:90% ;
        top: 80%;

    }
}



/* bubble div container  */
.bubble {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* PANEL */

hr{
    border: 1px solid  rgb(7, 33, 87);
}

/* Popup panel - hidden by default */
.panel-popup {
    display: none;
    position: fixed;
    margin-top: 0;
    right: 15px;
    z-index: 9;
    width: 160px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    bottom: 4%; /*cover the bubble*/
    text-align: center;


}
/*Panel About*/
ul{
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
ul li {
    padding: 12px;
}

.accordion {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


  }
  
  .active, .accordion:hover {
    background-color: #147298;
    opacity: 0.8;
    color:white;

  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
/* Panel buttons */
.panel-popup .button {
    cursor: pointer;
    background-color: #147298;
    border:none;
    border-radius: 6px;
    color:white;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;

}

.panel-popup .button:hover {
    opacity: 1;
}


/* Popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 15px;
    z-index: 9;
    color:black;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;

}

textarea {
    resize: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;

}

/* Submit button */
.form-container .btn {
    background-color: #147298;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;

}
/* Back button */
.form-container .cancel {
    background-color: rgb(149, 200, 229);
}

.form-container .btn:hover{
    opacity: 1;
}



